<a href="https://colab.research.google.com/github/Rushikesh-pawar/Netflix-Recomendation-System-NLP/blob/main/final_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Import the dataset netflix_list.csv

In [ ]:
import pandas as pd
movies = pd.read_csv('netflix_list.csv')
movies.head(2)

     imdb_id  ...                                          image_url
0  tt4052886  ...  https://m.media-amazon.com/images/M/MV5BNzY1Yj...
1  tt0993840  ...  https://m.media-amazon.com/images/M/MV5BNGY0Nz...

[2 rows x 19 columns]

### Create the DataFrame

In [ ]:
df = pd.DataFrame(movies)

In [ ]:
df.head(1)

     imdb_id  ...                                          image_url
0  tt4052886  ...  https://m.media-amazon.com/images/M/MV5BNzY1Yj...

[1 rows x 19 columns]

### Drop unwanted tables

In [ ]:
df.drop(['imdb_id','certificate','image_url'],axis=1)
df.head(1)

     imdb_id  ...                                          image_url
0  tt4052886  ...  https://m.media-amazon.com/images/M/MV5BNzY1Yj...

[1 rows x 19 columns]

### Create a new column content

In [ ]:
df['content'] = df['title'] + ' ' + df['plot'] + ' '+ df['genres'] + ' ' + df['cast'] + ' ' + df['language']

### Apply Vectorization on content column

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(max_features=1000)
movie_vectors = vectorizer.fit_transform(df['content'].values.astype('U'))

### Use cosine similarity on the vectors to find the similar movies/series

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(movie_vectors)

In [ ]:
def recommend(movie):
    
    # find movie index from dataset
    movies_index = movies[movies['title'] == movie].index[0]
    
    # finding cosine similarities of movie
    distances = similarity[movies_index]
    
    # sorting cosine similarities
    movies_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    
    for i in movies_list:
        print(movies.iloc[i[0]].title)

### Run the code

In [ ]:
recommend('Narcos')

 Narcos
Carmel: ¿Quién mató a María Marta?
El Chapo
Distrito Salvaje
Fallen